@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        color: #fff;
        background-color:rgb(11, 38, 65);
    }
}


@layer components {
    .menuLink {
        @apply cursor-pointer hover:text-[#89bce6];
    }

    .tags {
        background-color: #b9942d;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding: 3px 10px;
        display: inline-block;
        color: #fff;
        font-size: 12px;
        
    }
    .tags:last-child {
        margin-right: 0;
    }
    .tags:nth-child(2) {
        background-color: #811be7;
    }

    .tags:nth-child(3) {
        background-color: #946903;
    }
    .tags:nth-child(4) {
        background-color: #f1312e;
    }
}

